---
import Logo from "../assets/Logo.svg";
import Menu from "../assets/Menu.svg";
const links = [
  {
    text: "Biographie",
    to: "#biographie",
  },
  {
    text: "Rezensionen",
    to: "#rezensionen",
  },
  {
    text: "Leistungen",
    to: "#leistungen",
  },
  {
    text: "Kontakt",
    to: "#kontakt",
  },
];
---

<nav id="navbar">
  <div class="nav-inner">
    <img src={Logo.src} alt="" class="logo" />
    <div class="links">
      {
        links.map((link) => {
          return <a href={link.to}>{link.text}</a>;
        })
      }
    </div>
    <img src={Menu.src} alt="" class="menu" id="menu" />
  </div>
  <div class="mobile-links hidden" id="mobile-links">
    {
      links.map((link) => {
        return (
          <a href={link.to} class="mobile-link">
            {link.text}
          </a>
        );
      })
    }
  </div>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navbar = document.getElementById("navbar");
    const body = document.getElementById("body");
    const mobileLinks = document.getElementById("mobile-links");
    const links = Array.from(document.getElementsByClassName("mobile-link"));
    links.forEach((link) => {
      link.addEventListener("click", (e) => {
        mobileLinks?.classList.add("hidden");
      });
    });
    function handleScroll() {
      console.log("scrolling");
      const scrollTop =
        document.documentElement.scrollTop || document.body.scrollTop;
      if (scrollTop > 20) {
        navbar?.classList.add("scrolled");
      } else {
        navbar?.classList.remove("scrolled");
      }
    }

    body?.addEventListener("scroll", handleScroll);
  });
  const burger = document.getElementById("menu");
  const mobileLinks = document.getElementById("mobile-links");
  burger?.addEventListener("click", (event) => {
    mobileLinks?.classList.toggle("hidden");
    burger.classList.toggle("turned");
    console.log("Menu clicked");
  });
</script>
<style>
  .logo {
    width: 250px;
    height: auto;
    z-index: 3;
    @media screen and (max-width: 767px) {
      width: 160px;
    }
  }
  .menu {
    width: 30px;
    height: auto;
    display: none;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    transform: rotate(0);
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  .turned {
    transform: rotate(180deg);
  }
  .scrolled {
    background: white !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: all 0.3s ease-in-out;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  a {
    color: var(--darkgray);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }
  a:hover {
    color: #c3943a;
  }
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    background: transparent;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;*/
    @media screen and (max-width: 767px) {
      padding: 3px 10px;
    }
  }
  .nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 15px;
    width: 100%;
  }
  .mobile-links {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh;
    background: white;
    @media screen and (max-width: 767px) {
      display: flex;
    }
  }
  .hidden {
    transform: translateY(-100vh);
  }
</style>
